<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/books/new">add one book</a>
    <ul>
        <% books.forEach(book => { %>
            <li>
                <h2><%= book.title %></h2>
                <p>Author: <%= book.author %></p>
                <p>Price: $<%= book.price %></p>
            </li>
        <% }) %>
    
</body>
</html>